<button mat-button (click)="iniciarJuego()">comenzar juego</button>
<span>cartas en el mazo: {{ cartas.length }}</span>
<span>cartas en el mazo de descarte: {{ cartasEnDescarte.length }}</span>
<footer class="mano">
  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px">
    <div
      fxFlex="12"
      fxFlex.xs="30"
      *ngFor="let carta of cartasEnMano"
      (click)="JugarCarta(carta)"
    >
      <app-carta-en-mano [carta]="carta"></app-carta-en-mano>
    </div>
  </div>
</footer>
