.mano {
  width: 100%;
  height: auto;
  background-color: rgba(137, 43, 226, 0.75);
  justify-content: space-between;
}

span {
  font-size: 20px;
  color: white;
  font-family: cursive;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  span {
    font-size: 13px;
  }
}

.mazo {
  height: 80px;
  width: 60px;
  border-radius: 4px;
  margin-top: 5px;
}

.mazos {
  justify-content: space-between;
  align-items: flex-end;
}

.cementerio {
  align-items: flex-end;
  margin-left: 10px;
}

.cartasEnMano {
  justify-content: space-evenly;
}

@media (min-width: 600px) {
  .cartas {
    margin-right: 60px;
  }
}
