/* Mano */
.mano .imagen {
  width: 75px;
  height: 75px;
}

.mano .mat-card {
  margin-top: 15px;
  background-color: #3c3ce9;
  padding-top: 5px;
  color: black;
}

.mano .footer {
  justify-content: space-around;
}

/* Listado */

.listado .imagen {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
}

.listado .mat-card {
  margin: 10px;
  background-color: bisque;
  padding-top: 5px;
}

.listado .footer {
  justify-content: space-around;
  margin-bottom: 8px;
}

/* Mia */

.Mia .imagen {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
}

.Mia .mat-card {
  margin: 10px;
  background-color: #3c3ce9;
  padding-top: 5px;
  color: black;
}

.Mia .footer {
  justify-content: space-around;
  margin-bottom: 8px;
}

/* Oponente */
.Oponent .imagen {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
}

.Oponent .mat-card {
  margin: 10px;
  background-color: rgb(204, 41, 41);
  padding-top: 5px;
  color: black;
}

.Oponent .footer {
  justify-content: space-around;
  margin-bottom: 8px;
}
