<div fxLayout="row" class="mazos">
  <div fxLayout="column" class="cartas">
    <img src="/assets/imagenes/mazo.jpg" alt="mazo" class="mazo" />
    <span>Mazo: {{ mazoMezclado.length }}</span>
  </div>
  <div fxLayout="" class="botton">
    <button
      mat-button
      id="boton1"
      (click)="iniciarJuego(); textoBoton()"
      class="boton"
    >
      Comenzar Juego
    </button>
  </div>
  <div fxLayout="column" class="cementerio">
    <img src="/assets/imagenes/mazo.jpg" alt="cementerio" class="mazo" />
    <span>Cementerio: {{ cementerio.length }}</span>
  </div>
</div>

<div class="mano">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    cdkDropList
    id="listaMano"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="cartasEnMano"
    cdkDropListConnectedTo="listaCampo"
  >
    <div
      fxFlex="12"
      fxLayoutGap="10px"
      fxFlex.xs="30"
      cdkDrag
      *ngFor="let carta of cartasEnMano"
      (click)="JugarCarta(carta, cartasEnMano)"
      class="objetoCarta"
    >
      <app-carta-en-mano [carta]="carta"></app-carta-en-mano>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px">
    <div
      fxFlex="12"
      fxLayoutGap="10px"
      fxFlex.xs="30"
      *ngFor="let carta of cartasEnMano"
      (click)="JugarCarta(carta, cartasEnMano)"
      class="objetoCarta1"
    >
      <app-carta-en-mano [carta]="carta"></app-carta-en-mano>
    </div>
  </div>
</div>
<!-- (cdkDropListDropped)="drop($event)" -->
