.mano {
  width: 100%;
  height: auto;
  background-color: rgba(137, 43, 226, 0.75);
}

.mat-card {
  width: 100px !important;
  height: 110px !important;
}

span {
  font-size: 20px;
  color: white;
  font-family: cursive;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  span {
    font-size: 13px;
  }
}

.mazo {
  height: 80px;
  width: 60px;
  border-radius: 4px;
}

.mazos {
  justify-content: space-between;
  align-items: flex-end;
}

.cementerio {
  align-items: flex-end;
  width: 25%;
}

.cartas {
  width: 25%;
}
.boton {
  display: flex;
  justify-content: center;
  background-color: brown;
  border: 1px solid black;
  height: 36px;
  margin-bottom: 15px;
}

@media (min-width: 600px) {
  .boton {
    display: flex;
    justify-content: center;
    background-color: brown;
    border: 1px solid black;
    height: 36px;
    position: absolute;
    top: 250px;
    left: 15px;
  }
}

@media (min-width: 929px) {
  .mazos {
    justify-content: space-between;
    align-items: flex-end;
    height: 54px;
  }
}
@media (min-width: 600px) and (max-width: 928px) {
  .mazos {
    justify-content: space-between;
    align-items: flex-end;
    height: 26px;
  }
}

.objetoCarta {
  cursor: pointer;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
