<app-oponente></app-oponente>

<div
  fxLayout="row wrap"
  fxLayoutAlign="center"
  cdkDropList
  id="listaCampo"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="cartamia"
  [cdkDropListConnectedTo]="['listaCampo']"
  class="lista"
>
  <div fxFlex="20" fxFlex.xs="30" *ngFor="let carta of cartasEnCampo" cdkDrag>
    <app-cartas-en-juego [carta]="carta"></app-cartas-en-juego>
  </div>

  <div class="contenedorBoton">
    <button
      mat-button
      (click)="combate()"
      class="boton"
      *ngIf="cartasEnCampo.length === 2"
    >
      Comenzar Combate
    </button>
    <p-toast position="top-center"> </p-toast>
  </div>
</div>

<app-mano></app-mano>

<!-- id="LIstaCampo"
    #LIstaCampo="cdkDropList"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="cartasEnCampo"
    cdkDropListConnectedTo="listaMano"
    class="example-list"
    (cdkDropListDropped)="drop($event)" -->
