<app-oponente></app-oponente>

<div
  fxLayout="row wrap"
  fxLayoutAlign="center"
  cdkDropList
  id="listaCampo"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="cartamia"
  [cdkDropListConnectedTo]="['listaCampo']"
  class="lista"
>
  <div fxFlex="20" fxFlex.xs="40" *ngFor="let carta of cartasEnCampo">
    <app-carta [carta]="carta" estilos="juego"></app-carta>
  </div>

  <div class="contenedorBoton" fxFlex="100">
    <button
      mat-button
      (click)="combate()"
      class="boton"
      id="combateBoton"
      *ngIf="cartasEnCampo.length === 2"
    >
      Comenzar Combate
    </button>
    <p-toast position="center"> </p-toast>
  </div>
</div>

<app-mano></app-mano>
