.contenedorBoton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.boton {
  display: flex;
  justify-content: center;
  background-color: brown;
  border: 1px solid black;
  align-items: center;
}

.lista {
  width: 100%;
  height: 40%;
  user-select: none;
}

@media (min-width: 600px) {
  .contenedorBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 170px;
  }

  .lista {
    width: 100%;
    height: 40%;
  }
}

@media (max-height: 600px) {
  .contenedorBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 280px;
    right: 40px;
  }
  .lista {
    width: 100%;
    height: 55%;
  }
}

.p-toast .p-toast-message {
  background: #0d4b32 !important;
  border: solid #15684d;
  border-width: 0 0 0 6px;
  color: #1ea97c;
}
